@extends('layout')

@section('title', 'Server Error')

@section('content')
<div class="flex flex-col items-center justify-center h-[70vh]">
    <h1 class="text-6xl font-bold text-red-600">500</h1>
    <p class="text-lg text-gray-700 mt-4">An internal error occurred. Please try again later.</p>
    <a href="/" class="mt-6 px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700">
        Go back home
    </a>
</div>
@endsection
